<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/estilo.css">
    <title>Projeto de Apresentação Currícular</title>
</head>

<body>
    <br />
    <style>
        .cabecalho {
            text-align: center;
        }

    </style>

    <div class="cabecalho">
        <a href="https://github.com/magal07" target="_blank" class="logo-csharp">
        </a>
        </svg>
        </span>
        <div class="cabecalho-conteudo">
            <h1><a href="https://github.com/magal07/Projeto-ASP-NET-CORE-WEB">PROJETO ASP NET CORE MVC</a></h1>
            <h2>
                <a href="https://github.com/magal07">GitHub, </a>
                <a href="https://www.linkedin.com/in/marcelo-magalhães-513b6b283/">LinkedIn</a>
            </h2>
            <h2>Desenvolvido por Marcelo Magalhães.</h2>

		</div>
	</div>
    </header>
    <main class="principal">
        <div class="conteudo">
            <nav class="modulos">
                <div class="modulo azul">
                    <h3>Departments</h3>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "Departments")">
                                View Departments
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Departments")">
                                Creat New Department
                            </a>
                        </li>
                    </ul>
                </div>                
                <div class="modulo azul">
                    <h3>Sellers</h3>
                    <ul>
                        <li>
                            <a href="@Url.Action("Create", "Sellers")">
                                View Sellers
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "Sellers")">
                                Creat New
                            </a>
                        </li>
                    </ul>
                </div>
                                <div class="modulo azul">
                    <h3>Sales</h3>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "SalesRecords")">
                                Simple Search
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("GroupingSearch", "SalesRecords")">
                                Grouping Search
							</a>
                        </li>
                    </ul>
                </div>
                                                <div class="modulo azul">
                    <h3>About</h3>
                    <ul>
                        <li>
                            <a href="@Url.Action("About", "Home")">
                                Get to know me
                            </a>
                        </li>
                    </ul>
                </div>
                                                <div class="modulo azul">
                    <h3>Contact</h3>
                    <ul>
                        <li>
                            <a href="@Url.Action("Contact", "Home")">
                                Contact me
                            </a>
                        </li>
                    </ul>
                </div>
                </div>
    </main>
    <footer class="rodape">
        SIGA-NOS NAS REDES SOCIAIS:
        <a href="https://github.com/magal07" target="_blank"><img src="~/images/git-icon.png" alt="GitHub"></a>
        <a href="https://www.linkedin.com/in/marcelo-magalhães-513b6b283" target="_blank"><img src="~/images/linkedin-icon.png" alt="LinkedIn"></a>
        <a href="https://wa.me/5511948683746" target="_blank"><img src="~/images/whatsapp-icon.png" alt="Whatsapp"></a>       
    </footer>

</body>
</html>